# Build the models and save them off

In [3]:
#Import necessary packages
import psycopg2
import sys  
sys.path.append('..')

import numpy as np
import pandas as pd

from config import REDSHIFT_CONFIG
from src.features import *
from src.utils import *
from src.validation import *

reload(sys)
sys.setdefaultencoding('utf8')

from src.pitcher_class import *
from src.exploration import *

In [4]:
# Establish a connection to the redshift database
conn = create_rs_conn(config=REDSHIFT_CONFIG)
cur = conn.cursor()

In [5]:
# Create a list of the columns that we're interested in using as features
cols_of_interest = ([u'b', u's', u'on_1b', u'on_2b', u'on_3b', u'o',
                     u'home_wins',u'home_loss', u'away_wins', u'away_loss',
                     u'stand_L', u'Not_Fastball_pb_prior', u'Not_Fastball_pbs_prior', 
                     u'Fastball_pb_prior', u'Fastball_pbs_prior', u'Not_Fastball_pc_prior', 
                     u'Not_Fastball_pcs_prior', u'Fastball_pc_prior', u'Fastball_pcs_prior', 
                     u'Not_Fastball_pg_prior', u'Not_Fastball_pgs_prior', 
                     u'Fastball_pg_prior', u'Fastball_pgs_prior', u'last_pitch_type_Fastball', 
                     u'last_pitch_type_Not_Fastball',u'last_pitch_type_not_available', 
                     u'second_last_pitch_type_Fastball',u'second_last_pitch_type_Not_Fastball',
                     u'second_last_pitch_type_not_available', u'third_last_pitch_type_Fastball',
                     u'third_last_pitch_type_Not_Fastball', u'third_last_pitch_type_not_available', 
                     u'prev_pitches_mean_start_speed', u'prev_pitches_mean_end_speed',
                     u'prev_pitches_mean_break_y', u'prev_pitches_mean_break_angle',
                     u'prev_pitches_mean_break_length', u'ingame_pitch_count', u'cur_season', u'season_pitch_count'])

In [6]:
cur.execute('''SELECT pitcher,
                    p_first_name,
                    p_last_name,
                    COUNT(*) as tot_pitch_count,
                    MAX(date) as maximum_date,
                    AVG(CASE WHEN pitch_type IN ('FA', 'FF', 'FT', 'FC', 'FS', 'SI', 'SF') THEN 1.0
                        ELSE 0.0 END) as fastball_perc
                FROM 
                    all_pitch_data
                GROUP BY pitcher, p_first_name, p_last_name
                HAVING count(*) >= %d AND 
                MAX(date) > '%s' AND
                AVG(CASE WHEN pitch_type IN ('FA', 'FF', 'FT', 'FC', 'FS', 'SI', 'SF') THEN 1.0
                        ELSE 0.0 END) BETWEEN 0.4 AND 0.6
                ORDER BY pitcher''' % (3000, '2015-01-01'))

In [7]:
rows = cur.fetchall()
header = [colnames[0] for colnames in cur.description]
pitcher_df = pd.DataFrame(rows)
pitcher_df.columns = header
pitcher_df

,pitcher,p_first_name,p_last_name,tot_pitch_count,maximum_date,fastball_perc
0,115629,LaTroy,Hawkins,5918,2015-07-20,0.6
1,136600,Bruce,Chen,12153,2015-05-15,0.4
2,150274,Joe,Nathan,6239,2015-04-06,0.5
3,150302,Jason,Marquis,13759,2015-05-25,0.5
4,150359,A.J.,Burnett,25345,2015-07-20,0.6
5,276351,Jason,Grilli,6146,2015-07-11,0.6
6,276542,Joaquin,Benoit,6843,2015-07-20,0.5
7,279571,Matt,Belisle,7676,2015-06-25,0.6
8,279824,Mark,Buehrle,24295,2015-07-21,0.6
9,282332,CC,Sabathia,24873,2015-07-19,0.5
10,285064,Ryan,Vogelsong,13055,2015-07-20,0.5
11,329092,Randy,Choate,3764,2015-07-19,0.6
12,346793,Jeremy,Affeldt,7099,2015-06-25,0.6
13,346798,Kyle,Lohse,20953,2015-07-12,0.5
14,407845,Fernando,Rodney,8192,2015-07-21,0.6
15,407890,Colby,Lewis,13420,2015-07-18,0.5
16,408061,Francisco,Rodriguez,8227,2015-07-18,0.5
17,421685,Aaron,Harang,21147,2015-07-01,0.6
18,424144,Oliver,Perez,8552,2015-07-20,0.6
19,425386,Jeremy,Guthrie,24366,2015-07-18,0.5
20,425492,Ryan,Madson,5355,2015-07-21,0.6
21,425626,Chris,Capuano,10860,2015-07-07,0.5
22,425657,Javier,Lopez,5172,2015-07-19,0.6
23,425794,Adam,Wainwright,20137,2015-04-25,0.6
24,425840,Neal,Cotts,3550,2015-07-21,0.5
25,425844,Zack,Greinke,24877,2015-07-19,0.6
26,429719,Edwin,Jackson,22384,2015-07-11,0.6
27,429722,Ervin,Santana,22319,2015-07-17,0.5
28,429781,Kevin,Correia,18195,2015-07-04,0.4
29,430589,Chad,Qualls,6765,2015-07-19,0.6
...,...,...,...,...,...,...
197,543506,Brandon,Maurer,3321,2015-07-20,0.4
198,543521,Collin,McHugh,5224,2015-07-17,0.4
199,543548,Tommy,Milone,9212,2015-07-19,0.6
200,543699,Tanner,Roark,4840,2015-07-21,0.6
201,544931,Stephen,Strasburg,11213,2015-07-04,0.6
202,545333,Trevor,Bauer,5036,2015-07-17,0.6
203,545404,Brandon,Beachy,4635,2015-07-20,0.6
204,547749,Junichi,Tazawa,3997,2015-07-21,0.6
205,570649,Yordano,Ventura,4847,2015-07-20,0.6
206,571521,Rex,Brothers,4164,2015-07-21,0.6
207,571578,Patrick,Corbin,4907,2015-07-19,0.6
208,571666,Mike,Fiers,5528,2015-07-17,0.6
209,571800,Drew,Hutchison,5798,2015-07-17,0.6
210,571901,Aaron,Loup,3108,2015-07-18,0.6
211,572070,Garrett,Richards,8089,2015-07-18,0.6
212,572971,Dallas,Keuchel,9016,2015-07-19,0.6
213,573064,Vidal,Nuno,3321,2015-07-19,0.4
214,573109,A.J.,Ramos,3235,2015-07-21,0.5
215,573185,Dan,Straily,4185,2015-07-08,0.5
216,592102,Cody,Allen,3554,2015-07-19,0.6
217,592332,Kevin,Gausman,3306,2015-07-07,0.6
218,592665,Addison,Reed,3676,2015-06-20,0.6
219,593372,Carlos,Martinez,3849,2015-07-19,0.6
220,594798,Jacob,deGrom,4025,2015-07-21,0.6
221,605228,Jose,Fernandez,3649,2015-07-17,0.5
222,606273,Roenis,Elias,3868,2015-07-02,0.5
223,607259,Nick,Martinez,4078,2015-07-20,0.6
224,612672,Wei-Yin,Chen,10296,2015-07-21,0.6
225,622072,Alex,Wood,5799,2015-07-21,0.6
226,628333,Odrisamer,Despaigne,3026,2015-07-21,0.6

In [35]:
def randomly_sample_pitchers3(cursor, num_pitchers = 5, min_pitch_count = 600, min_date = '2015-01-01', seed_num = None):
    '''Takes a random sample of pitchers from the db represented by "cursor" and returns a Pandas DF with
    the specified number ofpitchers who have thrown at least "min_pitch_count" pitches
    Input:
        cursor: DB handle
        num_pitchers: The number of pitchers whose data you want returned
        min_pitch_count: Minimum number of pitches a pitcher must have thrown in order to be considered in the 
            random sampling
        seed_num: If you want to be able to replicated the results, set a seed
    Output: Pandas DF containing pitcher ids, the number of pitches they've thrown and their max pitch date'''
    cur = cursor
    
    #Get all pitchers meeting the min pitches criterion
    get_pitchers_query = '''SELECT pitcher,
                    p_first_name,
                    p_last_name,
                    COUNT(*) as tot_pitch_count,
                    MAX(date) as maximum_date,
                    AVG(CASE WHEN pitch_type IN ('FA', 'FF', 'FT', 'FC', 'FS', 'SI', 'SF') THEN 1.00
                        ELSE 0.00 END) as fastball_perc,
                    SUM(CASE WHEN pitch_type IN ('FA', 'FF', 'FT', 'FC', 'FS', 'SI', 'SF') THEN 1.0
                        ELSE 0.0 END) as num_fastballs,
                    SUM(CASE WHEN pitch_type NOT IN ('FA', 'FF', 'FT', 'FC', 'FS', 'SI', 'SF') THEN 1.0
                        ELSE 0.0 END) as num_not_fastballs
                FROM 
                    all_pitch_data
                GROUP BY pitcher, p_first_name, p_last_name
                HAVING count(*) >= %d AND 
                MAX(date) > '%s' AND
                AVG(CASE WHEN pitch_type IN ('FA', 'FF', 'FT', 'FC', 'FS', 'SI', 'SF') THEN 1.00
                        ELSE 0.00 END) BETWEEN 0.40 AND 0.60
                ORDER BY pitcher''' % (min_pitch_count, min_date)
    cur.execute(get_pitchers_query)
    
    #Get all the pitcher ids and sample from them
    if seed_num is not None:
        seed(seed_num)
    
    rows = cur.fetchall()
    header = [colnames[0] for colnames in cur.description]
    pitcher_df = pd.DataFrame(rows)
    pitcher_df.columns = header
    
    pitcher_id_sample = sample(pitcher_df['pitcher'].values, num_pitchers)
    
    pitcher_df = pitcher_df[pitcher_df['pitcher'].isin(pitcher_id_sample)]
    
    return pitcher_df

In [33]:
pitchers = randomly_sample_pitchers3(cur, min_pitch_count=2000, seed_num=35)

In [34]:
pitchers

,pitcher,p_first_name,p_last_name,tot_pitch_count,maximum_date,fastball_perc,num_fastballs,num_not_fastballs
0,136600,Bruce,Chen,12153,2015-05-15,0.44,5417.0,6732.0
1,150274,Joe,Nathan,6239,2015-04-06,0.56,3540.0,2665.0
2,150302,Jason,Marquis,13759,2015-05-25,0.57,7903.0,5796.0
3,276542,Joaquin,Benoit,6843,2015-07-20,0.55,3793.0,3020.0
4,282332,CC,Sabathia,24873,2015-07-19,0.56,14161.0,10339.0
5,285064,Ryan,Vogelsong,13055,2015-07-20,0.52,6864.0,6185.0
6,346798,Kyle,Lohse,20953,2015-07-12,0.52,11021.0,9809.0
7,407890,Colby,Lewis,13420,2015-07-18,0.58,7834.0,5558.0
8,408061,Francisco,Rodriguez,8227,2015-07-18,0.55,4528.0,3626.0
9,425386,Jeremy,Guthrie,24366,2015-07-18,0.57,14059.0,9964.0
10,425626,Chris,Capuano,10860,2015-07-07,0.54,5899.0,4947.0
11,425840,Neal,Cotts,3550,2015-07-21,0.57,2050.0,1480.0
12,425844,Zack,Greinke,24877,2015-07-19,0.60,15006.0,9794.0
13,429722,Ervin,Santana,22319,2015-07-17,0.56,12550.0,9448.0
14,429781,Kevin,Correia,18195,2015-07-04,0.46,8446.0,9559.0
15,430599,Joe,Blanton,16246,2015-07-21,0.59,9643.0,6434.0
16,430661,Dustin,McGowan,4515,2015-06-16,0.58,2655.0,1460.0
17,430912,Matt,Cain,22627,2015-07-17,0.56,12683.0,9685.0
18,431162,Tim,Stauffer,8090,2015-06-06,0.50,4114.0,3936.0
19,433585,Jeff,Francis,10713,2015-05-16,0.57,6142.0,4466.0
20,433587,Felix,Hernandez,26031,2015-07-19,0.56,14602.0,11110.0
21,433589,Yusmeiro,Petit,5792,2015-07-20,0.52,3015.0,2760.0
22,434378,Justin,Verlander,27903,2015-07-19,0.58,16315.0,11443.0
23,434442,J.P.,Howell,6504,2015-07-21,0.51,3347.0,3103.0
24,434538,Francisco,Liriano,18876,2015-07-12,0.47,8938.0,9756.0
25,434628,Jason,Hammel,18601,2015-07-21,0.58,10914.0,7452.0
26,434643,Wandy,Rodriguez,18187,2015-07-10,0.55,10120.0,7908.0
27,434718,Huston,Street,6727,2015-07-08,0.49,3302.0,3316.0
28,435043,Zach,Duke,12192,2015-07-18,0.58,7147.0,4908.0
29,435045,Sergio,Santos,2953,2015-06-15,0.56,1660.0,1273.0
...,...,...,...,...,...,...,...,...
100,519085,Brett,Oberholtzer,4006,2015-07-09,0.56,2282.0,1723.0
101,519151,Ryan,Pressly,2008,2015-07-04,0.54,1097.0,911.0
102,519240,Marc,Rzepczynski,5493,2015-07-19,0.58,3198.0,2288.0
103,519242,Chris,Sale,12509,2015-07-19,0.53,6685.0,5791.0
104,519293,Will,Smith,3610,2015-07-21,0.57,2089.0,1505.0
105,519322,Drew,Storen,4765,2015-07-20,0.59,2824.0,1937.0
106,527048,Martin,Perez,3383,2015-07-17,0.59,2018.0,1359.0
107,533167,Matt,Shoemaker,3741,2015-07-21,0.51,1927.0,1811.0
108,541640,Erasmo,Ramirez,4711,2015-07-18,0.56,2640.0,2068.0
109,542914,Anthony,Bass,4196,2015-07-20,0.55,2336.0,1855.0
110,543184,Christian,Friedrich,2403,2015-07-18,0.57,1390.0,1011.0
111,543243,Sonny,Gray,6408,2015-07-17,0.60,3857.0,2546.0
112,543359,Dan,Jennings,2218,2015-07-21,0.58,1288.0,922.0
113,543408,Tom,Koehler,7016,2015-07-18,0.58,4099.0,2916.0
114,543475,Jordan,Lyles,9132,2015-05-31,0.59,5443.0,3671.0
115,543506,Brandon,Maurer,3321,2015-07-20,0.47,1589.0,1638.0
116,543507,Trevor,May,2210,2015-07-19,0.60,1346.0,862.0
117,543521,Collin,McHugh,5224,2015-07-17,0.41,2144.0,3077.0
118,543734,Chris,Rusin,2683,2015-07-20,0.56,1520.0,1161.0
119,545404,Brandon,Beachy,4635,2015-07-20,0.60,2799.0,1821.0
120,547749,Junichi,Tazawa,3997,2015-07-21,0.60,2402.0,1589.0
121,554431,Tyler,Matzek,2162,2015-05-06,0.54,1175.0,984.0
122,572888,Shane,Greene,2557,2015-07-21,0.51,1310.0,1247.0
123,573064,Vidal,Nuno,3321,2015-07-19,0.47,1570.0,1746.0
124,573109,A.J.,Ramos,3235,2015-07-21,0.55,1806.0,1429.0
125,573185,Dan,Straily,4185,2015-07-08,0.58,2452.0,1730.0
126,592804,Tyler,Thornburg,2157,2015-04-21,0.59,1278.0,876.0
127,605228,Jose,Fernandez,3649,2015-07-17,0.56,2064.0,1583.0
128,606273,Roenis,Elias,3868,2015-07-02,0.52,2035.0,1789.0
129,628333,Odrisamer,Despaigne,3026,2015-07-21,0.60,1827.0,1198.0

In [27]:
pitcher_list = pitchers['pitcher'].values

### Get pitcher ids for the guys pitching tomorrow night

In [28]:
cur.execute('''SELECT 
                    count(*) as num_pitches,
                    MAX(date) as latest_pitch_date,
                    p_first_name,
                    p_last_name,
                    pitcher
                FROM all_pitch_data
                WHERE p_first_name IN ('Williams', 'Colin', 'Cole', 'Scott', 'Matt', 'Carlos', 'Andrew') AND
                p_last_name IN ('Perez', 'Rea', 'Hamels', 'Kazmir', 'Garza', 'Rodon', 'Heaney')
                GROUP BY p_first_name, p_last_name, pitcher;''')
rows = cur.fetchall()
header = [colnames[0] for colnames in cur.description]
pitcher_df = pd.DataFrame(rows)
pitcher_df.columns = header
pitcher_df

   num_pitches latest_pitch_date p_first_name p_last_name  pitcher
0        21671        2015-07-21         Matt       Garza   490063
1        26067        2015-07-19         Cole      Hamels   430935
2        16327        2015-07-18        Scott      Kazmir   431148
3          940        2015-07-20       Andrew      Heaney   571760
4         1331        2015-07-21       Carlos       Rodon   607074
5          804        2015-06-26     Williams       Perez   554234

In [29]:
pitcher_list = np.append(pitcher_list, pitcher_df['pitcher'].values)
pitcher_list

array([448306, 476454, 518716, 543359, 573185, 490063, 430935, 431148,
       571760, 607074, 554234], dtype=int64)

In [ ]:
for pitcher in pitcher_list:

In [68]:
pitcher = pitcher_list[0]

In [30]:
accuracies = {}
erros = []

for pitcher in pitcher_list[:2]:
    
    try:
        print 'starting pitcher:', pitcher
        test = Pitcher(pitcher_id = pitcher, redshift_cursor = cur)
        #test dates with Jason's code
        #test.subset_data_by_date(max_date = '2014-01-01')
        print test.pitch_type_by_year()
        test.split_test_train()
        print 'baseline acc:', test.baseline_accuracy
        test.run_classifiers()
        accuracies[pitcher] = {}
        accuracies[pitcher]['improvement'] = test.acc_over_most_common
        accuracies[pitcher]['rel_improvement'] = test.acc_over_most_common / (1 - test.baseline_accuracy)
        accuracies[pitcher]['baseline'] = test.baseline_accuracy
        print "\n"
        
    except:
        print "something went wrong with", pitcher, "\n"
        errors.append(pitcher)

In [31]:
accuracies

{448306: {'baseline': 0.605,
  'improvement': 0.058742690058479541,
  'rel_improvement': 0.14871567103412542},
 476454: {'baseline': 0.502,
  'improvement': 0.10274308300395252,
  'rel_improvement': 0.20631141165452313}}

To do:
* method in pitcher class to output data in the way Jason wants it
* loop to go through all pitchers and build models and save them
* Find pitcher ids of Cole Hamels, Scott Kazmir, and Matt Garza
* Function to train models on all of the data (not just the train)

In [ ]:
tester =